
#seam {
  display: flex;
  inset: 20px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  flex-direction: column;
}

#seam > #header {

}

#seam > .content-container {
  display: flex;
  flex: 1;
  min-height: 0; /** hack to allow scrolling in children */
}